.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
build/
coverage/
android/.gradle/
android/app/google-services.json
firebase/google-services.json
android/key.properties
android/app/*.jks
android/app/*.keystore
*.iml
.idea/
.vscode/
firebase-debug.log
*.log
